body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 130%;
  background-image: linear-gradient(rgb(157, 238, 181), rgb(8, 8, 8));
  overflow: hidden;
}
#demo {
  /* border: 1px solid white; */
  color: rgb(182, 219, 17);
  height: 200px;
  text-align: center;
  line-height: 40%;
}
.wrapper {
  background-color: rgba(1, 1, 1, 0.2);
  width: 550px;
  margin: 10vh auto;
  padding: 5px 0px;
  border: 3px solid rgba(1, 1, 1, 0.1);
  box-shadow: 3px 5px 3px rgb(20, 29, 18);
}
.wrapper:hover {
  /* border: 3px solid rgb(10, 10, 10); */
  box-shadow: 10px 10px 10px rgb(20, 29, 18);
}
label {
  width: 220px;
  float: left;
  height: 30px;
}
input {
  width: 330px;
  height: 30px;
  border: 1px solid black;
  border-radius: 5px;
}
.formelement {
  margin-bottom: 10px;
  display: flex;
}
.btn {
  text-align: center;
  padding: 20px;
}
#submitbtn:hover {
  background-color: rgb(33, 129, 33);
  color: white;
}
